<script src="/js/main.js"></script>

<footer>
    <div class="copyright photo-credits">
        <span>&copy; 2021 Portfolio- Lisa Ward CSE341- Web BackEnd II</span>
        <span>| Photo credits:Priscilla Du Preez on <a href="https://unsplash.com/photos/dlxLGIy-2VU"> Unsplash</a></span>      
    </div>
</footer>
</body>
</html>